* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav {
    display: block;
    width: 100%;
    height: 8rem;
    position: absolute;
} 

/* body {
    overflow: hidden;
} */

.container {
    width: 100%;
    background-color: rgb(112, 112, 243);
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

.possibilities {
    /* width: 100%; */
    padding-top: 50px;
    height: 100%;
    /* justify-content: center; */
    
}

.container>li {
    /* display: inline; */
    padding-left: 30px;
    padding-right: 50px;
} 

.list {
    /* flex-direction: column; */
    background-color: lightblue;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding-top: 15px;
}

.list>li {
    padding: 0 0 7px 0;
}

.list:before {
    content: '';
    background-color: lightblue;
    position: absolute;
    width: 160vw;
    height: 100px;
    top: 0px;
    left: -500px;
    z-index: -1;
}

.list-item {
    width: 100%;
    height: auto;
}

.possibilities:hover .list{
    display: flex;
}

.list-item:hover {
    background-color: rgb(118, 149, 160);
}