* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

.topnav {
    position: absolute;
    width: 100%;
    height: 4rem;
}


.container {
    width: 100%;
    height: 100%;
    background-color: rgb(112, 112, 243);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
}

.possibilities {
    /* cursor: pointer; */
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

.possibilities:hover .list {
    display: flex;
}


.list {
    background-color: lightblue;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding-top: 15px;
}

/* .list li {
    padding: 0 0 7px 0;
} */

/* .about:before, .services:before, .contact:before {
    content: '';
    background-color: lightblue;
    position: absolute;
    width: 160vw;
    height: 100px;
    top: 0px;
    left: -500px;
    z-index: -1;
    

} */

.list-item {
    width: 100%;
    height: auto;
}

/* .possibilities:hover {
    transition: 1s ease;
} */

.first:hover .about{
    display: block;
}

.second:hover .services{
    display: block;
}

.third:hover .contact{
    display: block;
}

.list-item:hover {
    background-color: rgb(118, 149, 160);
}